*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
}

.screen {
    position: relative; 
    width: 100vw;
    height: 100vh;
    background: #000 url(resources/bg.jpg) center center/contain no-repeat fixed;
}

.screen::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    letter-spacing: 2px;
    width: 23%;
    min-width: 250px;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 0.6em 0.5em 0.35em 0.5em;
    top: 10%;
    z-index: 1;
    background-color: #fff;
    color: #000;
    border: 3px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

h3 {
    font-size: 1.2em;
    position: absolute;
    top: -25%;
    left: -5%;
    letter-spacing: -1px;
    transform: rotate(350deg);
    text-shadow: 2px 2px 0px rgba(255,255,255,1);
}

h1 {
    font-size: 2em;
    color: #000;
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 80%;
    width: 60%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
}

.pokedex-left,
.pokedex-right {
    position: relative;
    border: 8px solid #000;
    background-color: #ee1111;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px, 6px 6px 0px 0px;
}

.pokedex-left {
    position: relative;
    height: 75%;
    aspect-ratio: 4/5;
    border-right: 5px solid #000;
}

.pokedex-left::before {
    content: "";
    background-color: #1a6b9a;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #000;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    margin-top: 4%;
    margin-left: 5%;
    width: 15%;
    aspect-ratio: 5/5;
    position: absolute;
    top: 0;
}

.pokedex-left::after {
    content: "";
    background-color: #93dcff;
    border-radius: 50%;
    color: #2da5f0;
    width: 3%;
    aspect-ratio: 5/5;
    position: absolute;
    top: 0;
    margin-top: 8%;
    margin-left: 8%;
}

.top-design {
    width: 100%;
    height: 110px;
    border-bottom: 5px solid #9c0e0e;
}

.design1,
.design2,
.design3 {
    border-radius: 50%;
    border: 2px solid #000;
    margin-top: 4%;
    width: 4.5%;
    aspect-ratio: 5/5;
    position: absolute;
    top: 0;
}

.design1 {
    background-color: #bf122f;
    margin-left: 25%;
}

.design2 {
    background-color: #ecda45;
    margin-left: 32%;
}

.design3 {
    background-color: #649c6c;
    margin-left: 38.5%;
}

.contents {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
}

.left-screen {
    width: 65%;
    aspect-ratio: 3/2.1;
    background-color: #fefffd;
    margin: 0 auto 2.3rem auto;
    border: 5px solid #000;
    position: relative;
}

.left-screen::before {
    content: "";
    background-color: #df1523;
    border-radius: 50%;
    border: 2px solid #000;
    margin-top: 4%;
    margin-left: 5%;
    width: 5%;
    aspect-ratio: 5/5;
    position: absolute;
    bottom: 6%;
}

.sprite-cntnr {
    border: 5px solid #000;
    width: 70%;
    background-color: #172331;
    aspect-ratio: 3/2;
    position: absolute;
    top: 15%;
    left: 15%;

}

input,
button {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0.5rem auto;
    padding: 0.7em 0.8em 0.6em 0.8em;
    border: 3px solid #000;
}

input {
    background-color: #83ce86;
}

input::placeholder {
    letter-spacing: -1px;
    font-size: 0.9rem;
    color: #3b3b3b;
}

input:focus::placeholder {
    color: transparent;
}

.contents button {
    background-color: #4cb050;
    text-transform: uppercase;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px;
}

.contents button:hover {
    text-transform: uppercase;
}

.contents button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.contents button:hover,
.contents button:active {
    background-color: #409443;
}

.pokedex-right {
    height: 60%;
    aspect-ratio: 4.5/5;
    border-left: 5px solid #000;
    padding-top: 2.5em;
}

.pkmn-name,
.pkmn-stats,
.pkmn-hw,
.right-btns  {
    width: 70%;
    margin: 1.6rem auto;
}

.pkmn-name {
    border: 5px solid #000;
    background-color: #172331;
    aspect-ratio: 2/0.5;
    top: 15%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pkmn-name > h2 {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}

.pkmn-stats {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.pkmn-stats > div {
    width: 100%;
    background-color: #0aa0fc;
    border: 3px solid #000;
    text-align: center;
    padding: 0.4em;
}

.pkmn-hw {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.pkmn-hw > div {
    width: 40%;
    background-color: #fefffd;
    border: 3px solid #000;
    text-align: center;
    padding: 0.4em;
}

.right-btns {
    display: flex;
    gap: 10px;
}

.right-btns > button {
    color: #fff;
    background-color: #172331;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    box-shadow: 1px 1px 0px 0px #000, 2px 2px 0px 0px #000, 3px 3px 0px 0px #000;
}

.right-btns > button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

.right-btns > button:hover,
.right-btns > button:active {
    background-color: #1d2c3d;
}

/* @media only screen and (max-width: 1024px) {
    .screen {
        background: #000 url(resources/bg.jpg) center center/cover fixed;
    }
    h3 {
        font-size: 1em;
    }
    h1 {
        font-size: 1.3em;
    }
    .pokedex-left,
    .pokedex-right {
    position: relative;
    aspect-ratio: 4/5;
    height: 50%;
    }
} */